{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap-input-maxlength.js' %}"></script>


<form method="POST">
    {% csrf_token %}
    
<div class="container"><div class="row"><div class="col-md-8 col-md-offset-2">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Выбр данных
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="{% url 'mainapp:dataPlat' %}">Фактическое</a></li>
          <li><a class="dropdown-item" href="{% url 'mainapp:planPlat' %}">Плановое</a></li>          
        </ul>
      </div>
<h2 class="text-center">Платные</h2>

<div class="form-group">
  <div><p>КДО</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="kdo"/>
  </div>
</div>

<div class="form-group">
  <div><p>ЖК</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name='jk' />
  </div>
</div>

<div class="form-group">
  <div><p>ДСР женская</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="dsr_w"/>
  </div>
</div>

<div class="form-group">
  <div><p>Катамнез</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="katamnez"/>
  </div>
</div>

<div class="form-group">
  <div><p>ДСР детский</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="dsr_ch"/>
  </div>
</div>

<div class="form-group">
  <div><p>Отделение функциональной диагностики</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="ot_fu_di"/>
  </div>
</div>

<div class="form-group">
  <div><p>ОЛМРД</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="olmrd"/>
  </div>
</div>

<div class="form-group">
  <div><p>ВРТ</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="vrt"/>
  </div>
</div>

<div class="form-group">
  <div><p>Приемное отделение</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="prim_otd"/>
  </div>
</div>

<div class="form-group">
  <div><p>АОПБ 1</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="aopb_1"/>
  </div>
</div>

<div class="form-group">
  <div><p>АОПБ 2</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="aopb_2"/>
  </div>
</div>

<div class="form-group">
  <div><p>Родовое отделение</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="rod_otd"/>
  </div>
</div>

<div class="form-group">
  <div><p>Родовое отделение 1</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="rod_otd_1"/>
  </div>
</div>

<div class="form-group">
  <div><p>АФОиОН</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="afonion"/>
  </div>
</div>

<div class="form-group">
  <div><p>ОАР</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="oar"/>
  </div>
</div>

<div class="form-group">
  <div><p>ОРИТН</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="oritn"/>
  </div>
</div>

<div class="form-group">
  <div><p>ОПНД</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="opnd"/>
  </div>
</div>

<div class="form-group">
  <div><p>РКЦ</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="rkc"/>
  </div>
</div>

<div class="form-group">
  <div><p>ГО</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="go"/>
  </div>
</div>

<div class="form-group">
  <div><p>КДЛ</p></div>
  <div class="input-group">
    <input type="text" maxlength="3" class="form-control" name="kdl"/>
  </div>
</div>

<button type="submit" class="btn btn-primary btn-block">Сохранить</button>
</p>
</form>


<script>
$(document).ready(function() {
$("input[maxlength]").maxlength();
});
</script>

</div></div></div>
{% endblock content %}